@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --foreground-rgb: 37, 38, 38;
  --background-rgb: 240, 243, 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 247, 253, 255;
    --background-rgb: 27, 28, 28;
  }
}

body.light {
  color: rgb(37, 38, 38);
  background: rgb(240, 243, 245);
}

body.dark {
  color: rgb(247, 253, 255);
  background: rgb(27, 28, 28);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
