@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --foreground-rgb: 37, 38, 38;
  --background-start-rgb: 240, 243, 245;
  --background-end-rgb: 240, 243, 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 247, 253, 255;
    --background-start-rgb: 27, 28, 28;
    --background-end-rgb: 27, 28, 28;
  }
}

body.dark {
  --foreground-rgb: 247, 253, 255;
  --background-start-rgb: 27, 28, 28;
  --background-end-rgb: 27, 28, 28;
}

body {
  --foreground-rgb: 37, 38, 38;
  --background-start-rgb: 240, 243, 245;
  --background-end-rgb: 240, 243, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
